@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Theme switcher */
.nav {
    z-index: 100;
    position: fixed;
}
.Theme_container {
    position: fixed;
    bottom: 1vh;
    right: 10px;
    height: 2em;
    width: 2em;
    background-image: url('comp/theme.svg');
    background-color: #fff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
    cursor: pointer;
}
.All_theme {
    pointer-events: none;
    opacity: 0;
    display: flex;
    position: fixed;
    bottom: 1vh;
    right: 10px;
    height: 2.5em;
    width: 2em;
    background-color:#fff;
    border: #000 1px solid;
    border-radius: 100px;
    z-index: -1;
    justify-content: space-evenly;
    align-items: center;
    transition-duration: 250ms;
}
.active {
    width: 10vw;
    pointer-events: all;
    opacity: 1;
    z-index: 100;
    bottom: 6vh;
    right: 10px;
}
.All_theme div {
    height: 2em;
    width: 2em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 100px;
    box-shadow: #000 1px 1px 4px;
    cursor: pointer;
}
.All_theme div svg {
    height: 2em;
    width: 2em;
}
.Theme_1 {
    background-color:#000;
    fill:#fff;
}
.Theme_2 {
    background-color:#000;
    fill:#95dfc9;
}
.Theme_3 {
    background-color:#000;
    fill:#358c36;
}
.Theme_4 {
    background-color:#000;
    fill:#f7d32f;
}
body{
    font-family: "Inter", sans-serif;
    background: #fff;
    position: relative;
    margin-left: 25%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
h1 {
    color:#000;
    font-size:9vh;
    text-align: center;
    background-color:rgb(149, 223, 201);
    padding: 1vh;
    border-radius: 30px;
    margin-right: 40vw;
    margin-left: 10vw;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);

}
.make-new {
    display: flex;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-right: 30vw;
    padding-right: 5vh;
    background-color: transparent;
    border-radius: 30px;
    outline: none;
}
#input {
    border-radius: 100px;
    border: none;
    height: 5vh;
    width: 90%;
    padding: 2% 12% 2% 2%;
    background-color: #d6d6d6;
    outline: none;
}
#input::placeholder {
    color: #555;
}

.add-button{
    position: absolute;
    right: 35vw;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    height: 5vh;
    width: 8%;
    margin-left: 1%;
    background-color: #36a019;
    transition-duration: 500ms;
    font-size: 2vh;
}
.add-button:hover{
    background-color: #000;
    color: #fff;
}
#list {
    display: flex;
    padding: 10vh;
    background-color: rgb(149, 223, 201);
    border-radius: 30px;
    margin-right: 30vw;
    margin-top: 1vh;
    flex-direction: column;
    padding-left: 2vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
    padding-right: 5vh;
    transition-duration: 500ms;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

}
ul li {
    position: relative;
    margin-top: 3vh;
    padding: 1% 1% 1% 5%;
    list-style: none;
    cursor:pointer;
    user-select: none;
    font-size: 3vh;
    transition-duration: 500ms;
    border-radius: 100px;
    border: 2px solid rgba(29, 45, 40, 0);
    z-index: 1;
}

ul li:before {
    content: "";
    position: absolute;
    left: 1vw;
    width: 0.8em;
    height: 0.8em;
    margin-top: 0.8vh;
    margin-left: -0.4vw;
    transition-duration: 500ms;
    background-size:cover;
    background-position:center;
}
ul li span {
   position: absolute;
   font-size: 1.5ch;
   text-align: center;
   text-justify: distribute;
   border: 1px solid rgba(0,0,0,0);
   border-radius: 100px;
   left: 40.6vw;
   width: 1em;
   height: 1.3em;
   color:#555;
   z-index: 3;
   transition-duration: 500ms;
}
ul li span:hover {
    background-color: #999;
    border: 1px solid rgba(55,55,55,1);
}
ul li:not(.checked)::before {
    background-image: url("comp/uncheck.webp");
}
ul li.checked::before {
    background-image: url("comp/checked.webp");
}
ul li.checked {
    text-decoration: line-through black;
    color:#9c9c9c;
}
ul li:hover {
    border: 2px solid rgb(29, 45, 40);
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);

}
ul li:active {
    background-color: #000;
    color: #fff;
}
ul li:active:before {
    filter: invert(100%)
}